h1{
    font-family:cursive;
    color: teal;
    border: teal dashed 2px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ipBox{
    padding: 15px;
    border-radius: 30px;
    font-size: larger;
    text-align: center;
    box-shadow: rgba(21, 153, 131, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.checkBox{
    color:red
}
.showButton{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.comp{
    background-color: rgb(104, 48, 48);
}
.uncomp{
    background-color: rgb(64, 130, 64);
}