h1{
    font-family:cursive;
    color: teal;
    border: teal dashed 2px;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.showButton{
    margin-top: 10px;
    cursor: pointer;
}